BOT_TOKEN=change-me-in-production
BOT_USERNAME=ExamlpeNameBot


REDIS_STORAGE_URL=redis://redis:6379/4
STORAGE_STATE_TTL=1209600 # sec
STORAGE_DATA_TTL=1209600 # sec


API_BASE_URL=https://example.com/api/v1/
HMAC_SECRET=change-me-in-production

BOT_MODE=webhook # webhook/pooling

WEBHOOK_URL=https://your_domain.com/webhook_endpoint/
BASE_WEBHOOK_URL=https://your_domain.com
WEBHOOK_PATH=/webhook_endpoint/
WEBHOOK_SECRET=change-me-in-production #
WEBHOOK_PORT=9000

# Origin URL
BASE_SCRAPING_URL=https://example.com/rasp/


# Flags
# отображать ли ссылки на расписание объектов
SHOW_ENTITY_LINKS=true
