BOT_TOKEN=change-me-in-production
BOT_USERNAME=ExamlpeNameBot


REDIS_STORAGE_URL=redis://redis:6379/4
STORAGE_STATE_TTL=1209600 # sec
STORAGE_DATA_TTL=1209600 # sec


API_BASE_URL=https://example.com/api/v1/
HMAC_SECRET=change-me-in-production

BASE_SCRAPING_URL=https://example.com/rasp/